timm
scikit-image
scikit-learn
opencv-python
openmim
mmcv-full
mmsegmentation
torch
torchvision
tokenizers==0.13.4rc2
detectron2 # python -m pip install 'git+https://github.com/facebookresearch/detectron2.git' --no-build-isolation
einops
ftfy
regex